<header>
  <h1>
    Eksporty!!!
  </h1>
</header>
<aside>
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Lokal" [(ngModel)]="local">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerFrom" placeholder="Od" [(ngModel)]="dateFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerTo" placeholder="Do" [(ngModel)]="dateTo">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <button mat-button (click)="buttonClick$.next()">Zatwierdź</button>
  </mat-card>
</aside>
<main>
  <mat-card>
    <table mat-table [dataSource]="exports$">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Godzina </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date: 'HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Użytkownik </th>
        <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="localName">
        <th mat-header-cell *matHeaderCellDef> Lokal </th>
        <td mat-cell *matCellDef="let row"> {{row.localName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</main>
